.image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.expandableTable {
  padding: 0 0 30px;
}

.avatar {
  display: flex;
  justify-content: center;
  .avatar-name {
    height: 50px;
    width: 50px;
    font-size: 10px;
  }
}

.container {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  @media (max-width: 767px) {
    display: block;
    width: 100%;
  }
  .container-align {
    display: flex;
    justify-content: space-between;
  }
  .contactCard {
    margin-top: 4.3rem;
    @media (max-width: 767px) {
      width: 320px;
    }
  }
  .betsiteimage {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
  .edit-icon {
    margin-top: 100px;
  }
}

.mt-15 {
  margin-top: 15px;
}
