.ContactCard {
  margin-bottom: 20px;

  .ant-card-body {
    height: 320px;
  }

  .descriptionText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .termsAndConditionText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .betsiteimage {
    height: 60px;
    width: 200px;
  }

  .mt-15 {
    margin-top: 15px;
  }

  .imageCenter {
    margin: 0 auto;
  }

  .editIcon {
    position: absolute;
    right: 15px;
    top: 8px;
  }
}
